<div class="icon" style="top: 20px; left: 20px;" onclick="openWindow('window1')">
    <img src="{{ url_for('static', filename='img/me.png') }}" alt="My PC">
    <div>About me</div>
</div>
<div class="icon" style="top: 20px; left: 120px;" onclick="openWindow('window2')">
    <img src="{{ url_for('static', filename='img/folder.png') }}" alt="Feature Review">
    <div>Sketch</div>
</div>
<div class="icon" style="top: 20px; left: 220px;" onclick="openWindow('window3')">
    <img src="{{ url_for('static', filename='img/folder.png') }}" alt="Games">
    <div>Games Python</div>
</div>
<div class="icon" style="top: 140px; left: 20px;" onclick="openLink('http://rida.pythonanywhere.com/')">
    <img src="{{ url_for('static', filename='img/edge.png') }}" alt="Shopin">
    <div>E-Shop</div>
</div>
<div class="icon" style="top: 140px; left: 120px;" onclick="openLink('https://www.linkedin.com/in/rida-kazi-a7002129b')">
    <img src="{{ url_for('static', filename='img/pngwing.com.png') }}" alt="LinkedIn">
    <div>LinkedIn</div>
</div>
<div class="icon" style="top: 140px; left: 220px;" onclick="openLink('https://github.com/Ridaakazi?tab=repositories')">
    <img src="{{ url_for('static', filename='img/git.png') }}" alt="GitHub">
    <div>GitHub</div>
</div>
<div class="icon" style="top: 260px; left: 120px;" onclick="openWindow('window4')">
    <img src="{{ url_for('static', filename='img/folder.png') }}" alt="folder_image">
    <div>UI/UX</div>
</div>
<div class="icon" style="top: 260px; left: 20px;" onclick="openWindow('window5')">
    <img src="{{ url_for('static', filename='img/folder.png') }}" alt="Folder_image">
    <div>Canva</div>
</div>
<div class="icon" style="top: 260px; left: 220px;" onclick="openWindow('window6')">
    <img src="{{ url_for('static', filename='img/folder.png') }}" alt="_folder_image">
    <div>Projects</div>
</div>
<div class="icon" style="top: 20px; left: 310px;" onclick="openWindow('window7')">
    <img src="{{ url_for('static', filename='img/recycle.png') }}" alt="_folder_image">
    <div>Recycle</div>
</div>
<div class="icon" style="top: 360px; left: 20px;" onclick="openLink('https://webridgeco.com/')">
    <img src="{{ url_for('static', filename='img/edge.png') }}" alt="Shopin">
    <div>Webridge</div>
</div>