<!-- section for images to be displayed  in sketch folder-->
        <div id="window21" class="window ">
            <header>
                <div>Sketch 1</div>
                <button onclick="closeWindow('window21')">❌</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/st1.png" class="sketch-image" alt="Full Image">
                
            </div>
            <div class="window-resize"></div>
        </div>

        <div id="window22" class="window">
            <header>
                <div>Sketch 2</div>
                <button onclick="closeWindow('window22')">❌</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/teal.png" class="sketch-image" alt="Full Image">
                
            </div>
            <div class="window-resize"></div>
        </div>

        <div id="window23" class="window">
            <header>
                <div>Sketch 3</div>
                <button onclick="closeWindow('window23')">❌</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/thunder.png" class="sketch-image" alt="Full Image">
                
            </div>
            <div class="window-resize"></div>
        </div>
      
        <div id="window24" class="window">
            <header>
                <div>Sketch 4</div>
                <button onclick="closeWindow('window24')">❌</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/b - Copy.png" class="sketch-image" alt="Full Image">
                
            </div>
            <div class="window-resize"></div>
        </div>

        <div id="window25" class="window">
            <header>
                <div>Sketch 5</div>
                <button onclick="closeWindow('window25')">❌</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/blur.png" class="sketch-image" alt="Full Image">
                
            </div>
            <div class="window-resize"></div>
        </div>


<!-- section for images to be displayed  in figma folder-->
<div id="window41" class="window">
    <header>
        <div>Fitness App</div>
        <button onclick="closeWindow('window41')">❌</button>
    </header>
    <div class="content">
        
            <img src="/static/img/fg1.png" class="figma-image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<div id="window42" class="window">
    <header>
        <div>Consulting App</div>
        <button onclick="closeWindow('window42')">❌</button>
    </header>
    <div class="content">
        
            <img src="/static/img/fg2.png" class="figma-image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<!-- section for images to be displayed in canva folder -->
<div id="window51" class="window">
    <header>
        <div>Banner</div>
        <button onclick="closeWindow('window51')">❌</button>
    </header>
    <div class="content">
        <img src="/static/img/poster.png" class="figma-image" alt="Full Image">
    </div>
    <div class="window-resize"></div>
</div>

<div id="window52" class="window">
    <header>
        <div>Poster</div>
        <button onclick="closeWindow('window52')">❌</button>
    </header>
    <div class="content">
        <video src="/static/img/Black Tablet Promo Mobile Video.mp4" class="figma-image" alt="Full video" controls>
    </div>
    <div class="window-resize"></div>
</div>

<div id="window53" class="window">
    <header>
        <div>Video</div>
        <button onclick="closeWindow('window53')">❌</button>
    </header>
    <div class="content">
        <video src="/static/img/Black And White Modern Fashion Design Prototipe Desktop.mp4" class="figma-image" alt="Full video" controls>
    </div>
    <div class="window-resize"></div>
</div>

<div id="window111" class="window ">
    <header>
        <div>About me</div>
        <button onclick="closeWindow('window111')">❌</button>
    </header>
    <div class="content">
<p> I am currently a student at the University of Leeds, where I am pursuing a degree in Computer Science with a focus on Artificial Intelligence. I have a strong interest in machine learning, AI, web design, and data analysis.</p>
     <p>Throughout my studies, I have developed skills in several programming languages, including Python, HTML, CSS, and Java. I also have experience using Photoshop for various design projects. My passion lies in creating innovative solutions and constantly expanding my technical knowledge.
    </p>
 
</div>
    <div class="window-resize"></div>
</div>

<div id="window121" class="window ">
    <header>
        <div>Frontend Projects</div>
        <button onclick="closeWindow('window121')">❌</button>
    </header>
    <div class="content">
<p>This is a fully functional e-commerce website with user authentication. It allows users to search for products, view details of items they are interested in, and complete the checkout process.</p>
        <img src="/static/img/ecommerce1.png" class="sketch-image" alt="Full Image">        
        <img src="/static/img/ecommerce2.png" class="sketch-image" alt="Full Image">        

    </div>
    <div class="window-resize"></div>
</div>

<div id="window131" class="window ">
    <header>
        <div>Consulting Website-Webridge </div>
        <button onclick="closeWindow('window131')">❌</button>
    </header>
    <div class="content">
<p>This is project was done during my summer internship for a client WeBridge is a consulting firm that provides Human Resources, infrastructure, and compliance solutions. This project involves creating a responsive website for WeBridge to showcase their services, values, and contact information.</p>
        <img src="/static/img/webridge1 (1).png" class="sketch-image" alt="Full Image">        
    <img src="/static/img/webridge2.png" class="sketch-image" alt="Full Image">        
</div>
    <div class="window-resize"></div>
</div>

<div id="window141" class="window ">
    <header>
        <div>Company Website </div>
        <button onclick="closeWindow('window141')">❌</button>
    </header>
    <div class="content">
<p>This project template was developed for the Dubai branch, utilizing Tailwind CSS, JavaScript, HTML, and CSS.</p>
       <img src="/static/img/d1.png" class="sketch-image" alt="Full Image">        
    <img src="/static/img/d2.png" class="sketch-image" alt="Full Image">        
    <img src="/static/img/d3.png" class="sketch-image" alt="Full Image">        
    <img src="/static/img/d4.png" class="sketch-image" alt="Full Image">        

</div>
    <div class="window-resize"></div>
</div>

<div id="window151" class="window ">
    <header>
        <div>Tech Stack </div>
        <button onclick="closeWindow('window151')">❌</button>
    </header>
    <div class="content">
        <p>Python</p>
        <br>
        <p>Java</p>
        <br>
        <p>Jscript</p>
        <br>
        <p>C</p>
        <br>
        <p>Html/CSS</p>
</div>
    <div class="window-resize"></div>
</div>

<div id="window311" class="window ">
    <header>
        <div>Stone paper Scissors</div>
        <button onclick="closeWindow('window311')">❌</button>
    </header>
    <div class="content">
        <p>This is a simple Stone-Paper-Scissors game implemented using Python and Tkinter. The game allows a user to play against the computer, keeping track of the scores. </p>
            <img src="/static/img/stonepp.png" class="image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<div id="window321" class="window ">
    <header>
        <div>Snake game in python</div>
        <button onclick="closeWindow('window321')">❌</button>
    </header>
    <div class="content">
        <p>This script sets up a simple Snake Game where a snake moves around the screen, eating food to grow longer while avoiding collisions with the screen's borders and itself. The game uses the turtle module for the graphical interface and random for placing food at random locations.</p>
            <img src="/static/img/snakess1.png" class="image" alt="Full Image">
            <img src="/static/img/snakess2.png" class="image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<div id="window331" class="window ">
    <header>
        <div>4 in a row game in python</div>
        <button onclick="closeWindow('window331')">❌</button>
    </header>
    <div class="content">
        <p>This Python script implements a basic Connect Four game using the Pygame library for graphical rendering and NumPy for managing the game board.The script simulates a two-player Connect Four game, where players take turns dropping colored discs into a 7x6 grid. The first player to align four discs vertically, horizontally, or diagonally wins the game.</p>
            <img src="/static/img/42.png" class="image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<div id="window341" class="window ">
    <header>
        <div>Tic Tac Tow AI game in python</div>
        <button onclick="closeWindow('window341')">❌</button>
    </header>
    <div class="content">
        <p>This project is a simple Tic-Tac-Toe game implemented in Python using and The game supports both single-player and multiplayer modes.</p>
            <img src="/static/img/x1.png" class="sketch-image" alt="Full Image">
            <img src="/static/img/x2.png" class="sketch-image" alt="Full Image">
        
    </div>
    <div class="window-resize"></div>
</div>

<div id="window611" class="window ">
    <header>
        <div>Client server in Java</div>
        <button onclick="closeWindow('window611')">❌</button>
    </header>
    <div class="content">
<p>It is a client-server application in java and multi-threaded server applications in Java to create a simple file transfer system. The system will allow clients to request a list of text files from the server and upload new files to the server. </p>
        <!-- <img src="/static/img/x1.png" class="sketch-image" alt="Full Image">         -->
    </div>
    <div class="window-resize"></div>
</div>

<div id="window631" class="window ">
    <header>
        <div>Movie reccomendation app </div>
        <button onclick="closeWindow('window631')">❌</button>
    </header>
    <div class="content">
        <p> This Python script is a basic implementation of a content-based movie recommendation system using the TF-IDF (Term Frequency-Inverse Document Frequency) method to recommend movies based on their plot overviews. The system calculates the similarity between movies using cosine similarity and recommends movies that are most similar to a given title.</p>
    
        <img src="/static/img/mov1.png" class="sketch-image" alt="Full Image">        
        <img src="/static/img/mov2.png" class="sketch-image" alt="Full Image">        
        <img src="/static/img/mov3.png" class="sketch-image" alt="Full Image">        
        <img src="/static/img/mov4.png" class="sketch-image" alt="Full Image">        
    <!-- <img src="/static/img/x1.png" class="sketch-image" alt="Full Image">         -->
   </div>
    <div class="window-resize"></div>
</div>

<!-- <div id="window621" class="window ">
    <header>
        <div>Movie reccomendation app </div>
        <button onclick="closeWindow('window621')">❌</button>
    </header>
    <div class="content">
<p> This Python script is a basic implementation of a content-based movie recommendation system using the TF-IDF (Term Frequency-Inverse Document Frequency) method to recommend movies based on their plot overviews. The system calculates the similarity between movies using cosine similarity and recommends movies that are most similar to a given title.</p>

    </div>
    <div class="window-resize"></div>
</div> -->