<!-- section for images to be displayed  in sketch folder-->
        <div id="window21" class="window">
            <header>
                <div>Sketch 1</div>
                <button onclick="closeWindow('window21')">✖</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/snake.png" class="sketch-image" alt="Full Image">
                
            </div>
        </div>

        <div id="window22" class="window">
            <header>
                <div>Sketch 2</div>
                <button onclick="closeWindow('window22')">✖</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/game.png" class="sketch-image" alt="Full Image">
                
            </div>
        </div>

        <div id="window23" class="window">
            <header>
                <div>Sketch 3</div>
                <button onclick="closeWindow('window23')">✖</button>
            </header>
            <div class="content">
                
                    <img src="/static/img/game.png" class="sketch-image" alt="Full Image">
                
            </div>
        </div>

<!-- section for images to be displayed  in figma folder-->
<div id="window41" class="window">
    <header>
        <div>Fitness App</div>
        <button onclick="closeWindow('window41')">✖</button>
    </header>
    <div class="content">
        
            <img src="/static/img/game.png" class="figma-image" alt="Full Image">
        
    </div>
</div>

<div id="window42" class="window">
    <header>
        <div>Consulting App</div>
        <button onclick="closeWindow('window42')">✖</button>
    </header>
    <div class="content">
        
            <img src="/static/img/game.png" class="figma-image" alt="Full Image">
        
    </div>
</div>

<!-- section for images to be displayed  in canva folder-->
<div id="window41" class="window">
    <header>
        <div>Poster</div>
        <button onclick="closeWindow('window41')">✖</button>
    </header>
    <div class="content">
        
            <img src="/static/img/game.png" class="figma-image" alt="Full Image">
        
    </div>
</div>

<div id="window42" class="window">
    <header>
        <div>Poster</div>
        <button onclick="closeWindow('window42')">✖</button>
    </header>
    <div class="content">
        
            <img src="/static/img/game.png" class="figma-image" alt="Full Image">
        
    </div>
</div>